.content {
  margin: 10px 15px 20px;
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
}

.navigation {
  height: 64px;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding-left: 16px;
  padding-right: 16px;
  /*padding: 0 16px로 간단하게*/
  display: flex;
  /*display: inline-block으로 했어도될듯*/
  align-items: center;
}
.navigation span {
  margin-right: 10px;
}
.navigation span:first-child {
  font-size: 24px;
  font-weight: bold;
  /*float:right도 가능*/
  flex: 1;
}

.grid {
  width: 400px;
  /*display: flex;
  flex-wrap: wrap;*/
  display: grid;
  /*grid-template-columns: repeat(3, 1fr)*/
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 0;
  padding: 10px;
  justify-items: center;
  align-items: center;
}
.grid img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.header {
  height: 120px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
h2 {
  margin-left: 20px;
}
p {
  margin-left: 20px;
}
#title {
  color: white;
}
#code {
  color: white;
}
li {
  border-bottom: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
  font-weight: bold;
}
@media screen and (min-width: 720px) {
  .samsung {
    display: flex;
  }
  section[title="rank"] {
    width: 700px;
    flex-wrap: wrap;
  }
}
/*
main과 aside로 나눴을 시
aside의 300px을 뺀 부분을 main으로
main {
  width: calc(100% - 300px);
  float: left; //왼쪽 부유
}
aside{
  width: 300px;
  float: right;
}
반응형 데스크탑 퍼스트 일 경우
@media only screen and (max-width: 720px) {
  main {
    width: 100vw;
    float: none;
  }

  aside {
    width: 100vw;
    float: none;  // 왼쪽 오른쪽에 떠있지않고 아래로
  }
}
  */

.comment-list {
  line-height: 1.5;
}
.comment-title {
  display: flex;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  border-bottom: 2px solid black;
  margin: auto 10px;
}
.comment-title p:last-child {
  color: #06a27d;
}
.comment-container {
  border-bottom: 1px solid #939393;
  box-sizing: border-box;
  padding: 18px 20px;
  word-break: keep-all;
}
.comment-container p:nth-child(2) {
  color: #939393;
  margin-bottom: 30px;
}
