/*
inline 태그에 width, height 지정 못함
inline-block: ex)input
- 임의의 크기를 width, height가 지정할 수 있다.
- 여러 요소가 가로 배치가 된다.

요소를 없애는 방법
*/
.display {
  height: 200px;
  border: solid;
}
.container2 {
  display: none; /*레이아웃에서 사라지게 만듬*/
  visibility: hidden; /*레이아웃에 자리는 차지하지만 내용은 나타나지 않음*/
}

.container1 {
  background-color: aqua;
}
.container2 {
  background-color: azure;
}
.container3 {
  background-color: blueviolet;
}

.float {
  width: 100px;
  height: 100px;
  background-color: blueviolet;
  float: none; /*글자가 아래에*/
  float: right; /*글자가 왼쪽에*/
  float: left; /*글자가 오른쪽에*/
}

/*normal flow : 요소의 레이아웃을 변경하지 않을 시 웹페이지 요소가 자기 자신을 배치하는 방법
position : static (기본값)
*/

.position {
  width: 200px;
  height: 200px;
  border: 3px solid aquamarine;
}

#relative {
  background-color: blanchedalmond;
  position: static; /*기본값, static일때는 top, bottom, left, right 이 적용 안됨*/

  position: relative; /*자기자신을 기준으로 상대적인 위치 적용 가능*/
  top: 50px;
  bottom: 10px; /*top과 bottom 동시 적용시 bottom 무시됨*/
  left: -80px;
  right: 40px; /* left과 right 동시 적용시 right 무시됨*/
}

/*absolute 요소를 일반적인 문서 흐름에서 제거하고, 가장 가까운 위치의 조상 요소에 대해 상대적으로 배치*/
#absolute {
  width: 100px;
  height: 100px;
  background-color: blanchedalmond;

  position: absolute; /*밑에있는 박스가 위로 올라와 자리를 차지함, normalflow에서 제거되기 때문에*/
  top: 50px; /* 위로 올라감 -> relative div (가장 가까운 조상)를 기준으로 top 50px만큼 이동한 것 */
  /*정확히 말하자면 position: absolute인 요소는 position이 static이 아닌 가장 가까운 조상을 기준으로 */
}

#fixed {
  width: 30px;
  height: 30px;
  background-color: blanchedalmond;
  border-radius: 50px;
  position: fixed; /*초기 컨테이닝 블록을 기준*/
  bottom: 50px; /*스크롤을 해도 고정 위치*/
  right: 50px;
}

#sticky {
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50px;
  position: sticky; /*스크롤 되는 조상(body)이어야 적용이 됨 */
  top: 50px; /*원래 자기 자리에 있다가 스크롤이 걸리는 순간에 고정 위치(뷰포트 기준)*/
  left: 50px;
}

.overflow {
  background-color: chartreuse;
  width: 100px;
  height: 100px; /* 여기까지는 div밖으로 내용이 넘쳐흐름*/
  overflow: hidden; /*넘치는 영역 숨김. scroll : 스크롤 생김*/
}

/*z-index : z축 기준으로 쌓이는 순서, 숫자가 높을 수록 앞쪽에 위치한다*/
